/* Navigation */

img{
    width: 100%;
}

video{
    width: 100%;
}


nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

nav ul li {
    position: relative;
    padding-right: 2em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;

}

.dropdown > ul {
    display: none;
    position: absolute;
    background-color: #edc0d7;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    padding: 1em;
    right: 0;
}

.dropdown > ul li a {
    white-space: nowrap;
    padding: 0 2em;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.dropdown > ul li a:hover {
    white-space: nowrap;
    padding: 0 2em;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

.dropdown:hover > ul {
    display: block;
}

nav {
    position: absolute;
    left: 90vw;
}


body {
    background-color: black;
    margin: 0;

}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: 3em;

}

h2 {
    color: white;
    font-family: sans-serif;
}

h3{
    color: white;
    font-family: sans-serif;
}

p {
    color: white;
    font-family: sans-serif;
}

li{
    color: white;
    font-family: sans-serif;
}

#navne{
    padding: 2em;
    background-color: #edc0d7;
}

#ide{
    padding: 2em;
}

#github{
    padding: 2em;
}

#github a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    border: solid white 1px;
    padding: 4px;
}

#github a:hover{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    border: solid #edc0d7 1px;
    padding: 4px;
    background-color: #edc0d7;
}

#moodboard{
    padding: 2em;
}

#daily_1{
    padding: 2em;
}

#persona{
    padding: 2em;
}


